a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  color: #232222;
}

.header__top {
  z-index: 3;
  padding-top: 15px;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  z-index: 2;
}

.menu {
  padding-top: 16px;
}
.menu__list {
  display: flex;
}
.menu__list-item:not(:last-child) {
  margin-right: 30px;
}
.menu__list-link {
  color: #001E64;
  font-weight: 500;
  line-height: 21px;
  font-style: 18px;
  text-transform: uppercase;
}
.menu__list-link:hover {
  border-bottom: 1px solid #001E64;
}

.phone {
  padding-top: 11px;
}

.header__content {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  margin-top: -100px;
  padding-bottom: 20px;
  min-height: calc(100vh - 41px);
}
.header__content-text {
  color: #ffffff;
}
.header__content-text:not(:last-child) {
  margin-bottom: 20px;
}
.header__content-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  font-family: "Roboto Slab", serif;
  color: #001E64;
  width: 589px;
  padding-left: 112px;
  padding-top: 170px;
  margin-bottom: 60px;
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 54px;
  padding-bottom: 161px;
}

.slick-dots {
  position: absolute;
  left: 35px;
  top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 315px;
}
.slick-dots button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}
.slick-dots button:before {
  content: "0";
}

.slick-active button {
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 40px;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.header__content-btn {
  padding-left: 112px;
  transform: translateY(-100px);
}

.header__content-btn-link {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 14px 88px;
  border-radius: 20px;
  text-transform: uppercase;
}

.header__content-box {
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.header__content-box a {
  color: #ffffff;
}
.header__content-box a:hover {
  font-weight: 700;
}

.product {
  padding-top: 100px;
  color: #232222;
  font-family: "Roboto Slab", serif;
}
.product__inner {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.product__name {
  padding: 41px 0 0 88px;
  width: 422px;
  height: 440px;
}
.product__name-item {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
}
.product__content-box {
  display: flex;
  margin-bottom: 5px;
}
.product__content-item {
  display: flex;
  flex-direction: column;
}
.product__content-item span {
  margin-bottom: 10px;
  color: #001E64;
}
.product__content-item:not(:last-child) {
  margin-bottom: 30px;
}
.product__content-image {
  margin-right: 40px;
  width: 260px;
  height: 215px;
}
.product__content-title {
  color: #001E64;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  margin-bottom: 20px;
}
.product__content-text {
  width: 600px;
  font-size: 16px;
  margin-bottom: 27px;
}
.product__content-btn {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  color: #001E64;
  border: 1px solid #001E64;
  border-radius: 20px;
  padding: 12px 85px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;
}

.product__name .slick-current {
  font-weight: 700;
  font-size: 36px;
  color: #001E64;
}

.product__name .slick-arrow {
  padding-left: 210px;
}

.product__content .slick-slide {
  position: absolute !important;
}

.product__content .slick-slide.slick-active {
  position: relative !important;
  left: 0 !important;
}

.seafood-box {
  background-image: url(../img/seafood-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.seafood-box__items {
  display: flex;
  justify-content: space-around;
  padding: 290px 0 95px;
  color: #ffffff;
}
.seafood-box__item {
  background-image: url(../img/shell.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 180px;
  height: 165px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=style.css.map */